<html>
  <head><title>OpenID on Rails Example</title></head>
  <style type="text/css">
      * {
        font-family: verdana,sans-serif;
      }
      body {
        width: 50em;
        margin: 1em;
      }
      div {
        padding: .5em;
      }
      table {
        margin: none;
        padding: none;
      }
      .alert {
        border: 1px solid #e7dc2b;
        background: #fff888;
      }
      .error {
        border: 1px solid #ff0000;
        background: #ffaaaa;
      }
      #verify-form {
        border: 1px solid #777777;
        background: #dddddd;
        margin-top: 1em;
        padding-bottom: 0em;
      }
  </style>
  <body>
    <h1>OpenID Verification on Rails Example</h1>
    <p>
      This example consumer uses the <a href="http://openidenabled.com/openid/libraries/ruby">Ruby OpenID library</a> with the <a href="http://www.rubyonrails.org/">Ruby on Rails</a> framework.  The example just verifies that the URL you enter is your identity URL.
    </p>

    <%= @content_for_layout %>

    <div id="verify-form">
      <form method="get" action="/openid/begin_auth">
        Identity&nbsp;URL:
      <input type="text" name="openid_url" />
        <input type="submit" value="Verify" />
      </form>
    </div>
  </body>
</html>