<table>
 <tr><td>Identity:</td><td><%= @request.identity_url %></td></tr>
 <tr><td>Site:</td><td><%= @request.trust_root %></td></tr>
</table>

<form method="post" action="<%= url_for :controller => 'server', :action => 'decision' %>">

<input type="submit" name="yes" value="yes" />
<input type="submit" name="no" value="no" />

</form>
